<div id="QR_page">
  <div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputEmail1">ID de la mesa(s):</label>
        <input type="text" class="form-control" ng-model="ID_mesa" size="45" id="exampleInputEmail1" placeholder="Ingresar el ID de las mesas. Ej:5,2,8,9,10 ó 1-9">
      </div>
        <button class="btn btn-success" ng-click="GenerarQR()">Generar</button>
    </form>
  </div>
</div>
<div style="cursor: pointer; position: fixed; bottom: 0; right: 0; width: 50px;height: 50px; padding: 5px 5px 5px 5px; font-size: 2em; border-radius: 100px;background: seagreen;text-align: center; color: white"
ng-if="n_mesas.length > 0" ng-click="printDiv()">
  <i class="fa fa-print"></i>
</div>
<div class="row">
  <div class="col-sm-12" id="printable">
    <br>
    <div class="col-sm-4 text-center" ng-repeat="m in n_mesas track by $index">
      <h3><strong>Mesa ID: {{m}}</strong></h3>
      <div style="padding: 10px;border: 2px dashed black">
        <qrcode data="http://192.168.1.5:8080/WebApp/Sumar$_${{m}}" error-correction-level="H" size="200"></qrcode>
      </div>
    </div>
  </div>
</div>
<div style="clear: both"></div>
</div>
